body{
    margin: 0;
    padding: 0;
    font-size: 32px;
    font-family: 'Inter', sans-serif;
}

.attribution {
    font-size: 11px;
    text-align: center;

}
.attribution a {
    color: hsl(228, 45%, 44%);
}

.main_container{
    width: 80%;
    height: 85vh;
    margin: 0 auto;
    background-image: url('./images/pattern-curve.svg');
    background-repeat: no-repeat;
    background-position-y: bottom;
    margin-top: 50px;
}

.slide_full{
    background-image: url('./images/pattern-quotes.svg'), url('./images/pattern-bg.svg');
    background-repeat: no-repeat;
    background-size: 110px, 500px;
    background-position: 20% 20%, right top;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide_content{
    width: 55%;
    padding-left: 30px;
    margin-top: 80px;
    margin-left: 60px;
}

.slide_content-text{
    font-weight: 300;
    font-size: 2rem;
    width: 120%;
    position: relative;
    z-index: 10;
    top: -70px;
    left: 20px;
}

.slide_content-profession{
    font-size: 18px;
    font-weight: bold;
    position: relative;
    top: -60px;
    left: 20px;
}

.slide_content-profession span{
    color: #DBDAE0;
}

.slide_img-tanya{
    width: 80%;
    position: relative;
    top: -75px;
    left: 45px;
    -webkit-box-shadow: 0px 14px 29px -15px rgba(133,131,133,1);
    -moz-box-shadow: 0px 14px 29px -15px rgba(133,131,133,1);
    box-shadow: 0px 14px 29px -15px rgba(133,131,133,1);
}

@media only screen and (max-width: 1024px){
    .main_container{
        width: 90%;
        height: 95vh;
    }

    .slide_full{
        background-size: 90px, 500px;
        background-position: 15% 24%, right top;
    }

    .slide_img-tanya{
        width: 90%;
        left: -10px;
        top: -55px;
    }

    .slide_content-text{
        font-size: 1.5rem;
        left: -40px;
    }

    .slide_content-profession{
        left: -40px;
        margin-bottom: 30px;
        font-size: 14px;
    }
}

@media only screen and (max-width: 800px){
    .main_container{
        margin-top: 20px;
        background-size: 60%;
    }

    .slide_full{
        background-size: 65px, 400px;
        background-position: 12% 20%, right top;
    }

    .slide_content-text{
        font-size: 1.2rem;
        left: -70px;
        width: 150%;
    }

    .slide_content-profession{
        left: -70px;
    }

    .slide_img-tanya{
        width: 85%;
        left: 5px;
        top: -35px;
    }
}